html {
    font-family: sans-serif;
  }

  body {
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
    background-color: rgb(173, 224, 153);
  }

  .lastResult {
    color: white;
    padding: 3px;
  }


  h1 {
    font-family: 'Times New Roman', Times, serif;
  }

.guessSubmit {
    background-color: rgb(143, 190, 143);
}

